<mat-form-field appearance="fill" class="mat-form-field">
  <mat-label>Select an option</mat-label>
  <mat-select disableRipple (selectionChange)="onSelect($event)">
    <mat-option 
      *ngFor="let breed of resolveBreeds"
      [value]="breed.id"
    >{{ breed.name }}</mat-option>
  </mat-select>
</mat-form-field>

<mat-paginator
  (page)="selectPaginator($event)"
  [length]="lengthNumber"
  [pageSize]="sizeNumber"
  [pageSizeOptions]="[firstOption, twoOption, threeOption, fourOption]"
  aria-label="Select page"
  class="mat-paginator"
></mat-paginator>